<div class="cover-room">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <% @entries.each do |e| %>
          <% if @my_account != e.user.id %>
            <div class="title"><h2><strong><span class= "name"><%= e.user.name %></span>さんとのトークルーム</strong></h2></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="chat-container">
      <% @messages.each do |m| %>
        <% if m.user.id == current_user.id %>
          <div class="mycomment">
            <p><%= m.message %></p>
          </div>
        <% else %>
          <div class="says">
            <p><%= m.message %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    
