/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 html,
 body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }

 .profiler-results {
    display: none;
  }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding:  0 15px;
}

header div:first-child {
  margin-right: auto;
  font-size: 20px;
}

header div:last-child {
  margin-right: 30px;
}

header div {
  margin-left: 30px;
  line-height: 30px;
}

header a:hover {
  color: aqua;
}

#head-top {
  text-decoration: none;
  font-size: 25px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: rgb(9, 246, 238)!important;
  text-decoration: underline;
}

.profile-img {
  border-radius: 50%;
}

.hamburger-menu {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: row;
}

// .nav-link {
//   font-size: 16px;
// }

@media screen and (max-width: 575px) {
  // .nav-link {
  //   display: none;
  // }

  .hamburger-menu {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0;
    cursor: pointer;
  }

  .hamburger-bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: #242424;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
  }

  .hamburger-bar:first-child {
    top: 16px;
  }

  .hamburger-bar:nth-child(2) {
    top: 24px;
  }

  .hamburger-bar:last-child {
    top: 32px;
  }

  .hamburger-menu--open .hamburger-bar {
    top: 50%;
  }

  .hamburger-menu--open .hamburger-bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  .hamburger-menu--open .hamburger-bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }

  .hamburger-menu--open .hamburger-bar:nth-child(2) {
    display: none;
  }

  .navigation {
    display: none;
    flex-direction: column;
    background: #242424;
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 9999;
  }

  .navigation.open {
    display: flex;
  }

  // .nav-list {
  //   text-align: center;
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  // }

  // .nav-list-item {
  //   border-bottom: solid 1px #474747;
  // }

  // .nav-list-item:first-child {
  //   border-top: solid 1px #474747;
  // }
}