// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html, body {
//   height: 100%;
//   overflow-x: hidden;
// }

.title {
    display: block;
    text-align: center;
    font-family: system-ui;
    font-size: 50px;
    padding: 0 1em;
  }
  
.sub-title {
    display: block;
    text-align: center;
    font-family: system-ui;
    font-size: 25px;
    padding: 0 1em;
  }
  
.cover {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/top.jpg);
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: 100% 100%;
}
  
.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // vertical-align: middle;
  text-align: center;
}

.top-button {
  display: flex;
  gap: 10px;
  justify-content: center;
}


@media screen and (max-width: 575px) {
    .cover {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      background-size: cover;
      background-position: 60% center;
    }

    .text-center {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    .title {
      font-size: 2rem;
      padding: 0 10px;
    }
    
    .sub-title {
      font-size: 1.2rem;
      padding: 0 10px;
    }

    .top-button {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 60%;
      margin: 0 auto;
    }

    .top-button h2 {
      width: 100%;
      text-align: center;
    }
}