h1 {
    font-family: system-ui;
  }
  
.cover-new {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/watercolor_00687);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: darken;
  background-size: 100% 100%;
}
  
.form-label {
  font-size: 20px;
}
  
.form-group {
   width: 600px;
}

.cover-index {
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding-bottom: 50px;
  background-image: url(/assets/white_00027.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: cover;
}

.one-post img:hover {
  filter: brightness(0.5);
}

.one-post:hover .caption {
  color: rgba(7, 21, 227, 0.892);
  font-weight: bold;
}

.caption {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

// .caption:hover {
//   color: aqua;
// }

.index-left {
  margin-left: 2.5rem!important;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: rgba(7, 21, 227, 0.892) !important
}

.cover-show {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/watercolor_00686.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}
.show-title {
  margin-bottom: 30px;
}

#text {
  font-size: 18px;
}

.cover-edit {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/white_00027.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.page a,
.next a,
.last a,
.first a,
.prev a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
}

.current {
  font-weight: bold;
}

.comments-index {
  background-color: #fff;
  border: 1px #000 solid;
}

.comment-delete {
  margin-left: auto;
}

.comments {
  margin-top: 25px;
  margin-left: 50px;
}

.comments-index {
  padding: 5px;
  box-sizing: border-box;
}
.caption {
  // text-align: left;
  // font-size: 20px;
  // color: #000;
  margin-bottom: 0;
}

.favorite_btn {
  color: #000
}

.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #dee0e1;
}

.box1 p {
  margin: 0;
  padding: 0;
}

.box2 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #090909;
  background-color: #dee0e1;
}

.box2 .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #020202;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.box2 p {
  margin: 0;
  padding: 0;
}

// .indextop {
//   width: 100%;
//   height: 200px;
//   display: flex;
//   margin-top: -30px;
// }

.body {
  width: 85%;
  margin-right: 2%;
  margin-left: 2%;
}

.side {
  width: 18%;
  margin-left: 5%;
}

.pagination {
  margin-bottom: 20px;
}

.index-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.userinfo {
  padding: 0.5em 1em;
  margin: 5.5em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow:  0 3px 5px rgba(0, 0, 0, 0.22);
}

.userinfo p {
  margin: 0;
  padding: 0;
}

.caption .nav-link.text-dark:hover {
  color: rgba(7, 21, 227, 0.892) !important;
}

.post-box {
  margin-top: 25px;
  color: #000000;
  background:  #fbfcfc;
  border-top: solid 6px #737575;
  box-shadow:  0 3px 4px rgba(0, 0, 0, 0.8);
}

.post-box img {
  display: block;
  margin: 0 auto;
  max-width: calc(100% - 20px);
  box-sizing: border-box;
}

.post-box p {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 25px;
}

.confirm-box {
  color: #00BCD4;
  background:  #e4fcff;
  border-top: solid 6px #1dc1d6;
  box-shadow:  0 3px 4px rgba(0, 0, 0, 0.8);
  width: 90%;
}

.confirm-box img {
  display: block;
  margin: 10px auto;
  max-width: calc(100% - 20px);
  box-sizing: border-box;
}

.confirm-box p {
  margin-left: 25px;
  margin-bottom: 2px;
}

.map {
  height: 500px;
  width: 500px;
}

.show-btn {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.edit-btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

select {
  width: 80%;
  max-width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.custom-select {
  width: 150px;
}

@media screen and (max-width: 575px) {
  .cover-new {
    width: 100%;
    padding: 0 1em;
  }

  .form-group {
    width: 100%;
    padding: 0 1em;
  }

  .side {
    display: none;
  }

  .postbtn {
    margin-left: 15px;
  }

  .cover-show {
    width: 100%;
  }
 
  .show-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comments {
    width: 100%;
    max-width: 100%;
    margin: 5px auto ;
    padding: 0;
    order: 2;
  }

  .comments form textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .comments-index {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .comments form .btn {
    // width: 100%;
    box-sizing: border-box;
  }

  .box1 {
    width: 100%;
    text-align: left;
    font-size: 16px;
    margin: 10px auto;
    padding: 0 1em;
    box-sizing: border-box;
  }
 
  .box2 {
    width: 100%;
    text-align: left;
    font-size: 16px;
    margin:30px auto 5px auto;
    padding: 0 1em;
    box-sizing: border-box;
  }

  #text {
    margin: 5px auto;
  }

  .show-btn {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .show-btn-postindex {
    width: 100%;
  }

  .container.d-flex {
    flex-direction: column;
    align-items: center;
  }

  // .show-post-img {
  //   max-width: 100%;
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  // }

  .show-post-img img {
    width: 100%;
    height: auto;
  }

  .show-title {
    margin-bottom: 0;
  }

  .edit-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

 select {
    width: 80%;
    max-width: none;
 }

 .confirm-box img {
  display: block;
  margin: 10px auto;
  max-width: calc(100% - 30px);
  box-sizing: border-box;
}
}