.cover-room {
    height: 100%;
    width: 100%;
    background-image: url(/assets/room.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;
    margin: 15px 15px;
    font-size: 14px;
    background: #f6f6f6;
}

.says {
    align-self: flex-start;
    margin: 0 400px 0 0;
    padding: 10px 10px 0 10px;
    width: fit-content;
    text-align: left;
    overflow-wrap: break-word;
    border-radius: 12px;
    background: #edc0ae;
}

.mycomment {
    align-self: flex-end;
    margin: 0 0 0 400px;
    padding: 10px 10px 0 10px;
    width: fit-content;
    text-align: left;
    overflow-wrap: break-word;
    border-radius: 12px;
    background: #28eabd;
}

.title {
    margin-top: 50px;
}

.name {
    color: rgba(2, 13, 27, 0.805);
    font-family: Tahoma;
    font-size: larger;
}