.cover-room {
    height: 100%;
    width: 100%;
    background-image: url(/assets/room.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;
    margin: 15px 15px;
    font-size: 14px;
    background: #f6f6f6;
}