* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }

  .bg {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background: linear-gradient(to right, rgba(13, 128, 214, 0.42), rgba(0, 107, 139, 0.12));
  }

  .box {
    width:350px;
    height: 600px;
    margin: auto;
    border-radius: 4px;
    border: 1px #ddd solid;
  }