* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }

  .bg {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background: linear-gradient(to right, hwb(221 42% 15% / 0.42), rgba(6, 25, 30, 0.023));
  }

  .box {
    width:350px;
    height: 600px;
    margin: auto;
    border-radius: 4px;
    border: 1px #ddd solid;
  }

  .box-inner {
    padding: 20px 26px;
    background-color: white;
  }

  h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
    color: #111111;
  }

  .box-name {
    margin-bottom: 13px;
  }

  .box-email {
    margin-bottom: 13px;
  }

  .box-password {
    margin-bottom: 22px;
  }

  .box-name label, .box-email label, .box-password label {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
  }

  .box-name input[type="text"], .box-email input[type="email"], .box-password input[type="password"] {
    
  }