.cover-user-show {
    min-height: 100vh;
    width: 100%;
    background-image: url(/assets/white_00029.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.cover-user-show * {
    position: relative;
    z-index: 2;
}

.cover-user-show::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);

}

.cover-user-index {
    min-height: 100vh;
    width: 100%;
    background-image: url(/assets/white_00027.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    // background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
}

.cover-user-edit {
    height: 100%;
    width: 100%;
    background-image: url(/assets/white_00029.jpg);
    // background-color: rgba(255, 255, 255, 0.4);
    // background-blend-mode: lighten;
    background-size: 100% 100%;
}

.profile {
    padding: 15px;
}

.mgl-10 {
    margin-left: 10px;
}

.mgl-20 {
    margin-left: 20px;
}

.pagination {
    margin-top: 20px;
}

.one-post.card {
    transition: background-color 0.3s, opacity 0.3s;
    position: relative;
}

.one-post.card:hover {
    // background-color: rgba(227, 229, 230, 0.986);
    filter: brightness(0.9);
}

.one-post.card .profile-img,
.one-post.card .user.name,
.one-post.card .caption {
    transition: opacity 0.3s;
}

// .one-post.card:hover .profile-img {
//     opacity: 0.7;
// }

.one-post.card:hover .caption {
    color: rgb(0, 0, 6);
}

.one-post.card .caption a {
    color: black !important;
    text-decoration: none;
}

.mypage-box {
    color: #000000;
    background:  #fbfcfc;
    border-top: solid 6px #737575;
    box-shadow:  0 3px 4px rgba(0, 0, 0, 0.8);
    width: 80%;
}

.mypage-box img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

.mypage-box p {
    margin-left: 25px;
    margin-bottom: 2px;
  }

.profile-container .profile-img {
    margin-right: 20px; 
  }

.f-count {
    margin-right: 10px;
}

.profile-name-form {
    width: 200px;
}

.auto-resize {
    min-height: 50px;
    max-height: none;
    overflow-y: auto;
}

.user-box {
    margin-top: 10px;
    margin-bottom: 25px;
    color: #000000;
    background:  #fbfcfc;
    border-top: solid 6px #737575;
    box-shadow:  0 3px 4px rgba(0, 0, 0, 0.8);
}

.user-box:hover {
    background-color: #757272 !important;
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0.3) !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: left;
}

.profile-img-container {
    position: relative;
    margin-top: 30px;
    margin-right: 30px;
    border: 3px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ccc;
}

.mypage-profile-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-img-container img {
    max-width: 100%;
    height: 100%;
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
}


.edit-btn {
    margin-top: 10px;
    margin-bottom: 30px;
}

.style0 {
    width: 100%;
    background-color: #000000;
    border: none;
    height: 3px;
}

// .mypage-profile-box {
//     width: 95%;
//     margin-top: 20px;
//     background-color: #ffffff;
//     padding: 10px;
//     border-radius: 5px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
// }

.profile-text {
    margin-top: 10px;
    margin-bottom: 15px;
}

.follow-counts {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.mypage-button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


@media screen and (max-width: 575px) {
    .edit-btn {
        margin-top: 0px;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-container .profile-img {
        margin-right: 0;
    }

    .profile-container .profile {
        margin-left: 0;
    }

    .cover-user-edit {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
    }

    .profile-page .user-edit-box,
    .profile-page .container-fluid,
    .profile-page .row {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
    }

    .profile-page-title {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .profile-name-form {
        width: 100%;
    }

    html,body {
        overflow-x: hidden;
        width: 100vw;
    }

    .auto-resize {
        overflow: visible;
    }

    .profile-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}