.cover-user-show {
    height: 120%;
    width: 100%;
    background-image: url(/assets/mypage.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index {
    min-height: 100vh;
    width: 100%;
    background-image: url(/assets/users.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
}

.cover-user-edit {
    height: 100%;
    width: 100%;
    background-image: url(/assets/mypage_edit.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.profile {
    padding: 15px;
}

.mgl-10 {
    margin-left: 10px;
}

.mgl-20 {
    margin-left: 20px;
}

.pagination {
    margin-top: 20px;
}

.one-post.card {
    transition: background-color 0.3s, opacity 0.3s;
    position: relative;
}

.one-post.card:hover {
    // background-color: rgba(227, 229, 230, 0.986);
    filter: brightness(0.9);
}

.one-post.card .profile-img,
.one-post.card .user.name,
.one-post.card .caption {
    transition: opacity 0.3s;
}

// .one-post.card:hover .profile-img {
//     opacity: 0.7;
// }

.one-post.card:hover .caption {
    color: rgb(0, 0, 6);
}

.one-post.card .caption a {
    color: black !important;
    text-decoration: none;
}

.mypage-box {
    color: #000000;
    background:  #fbfcfc;
    border-top: solid 6px #737575;
    box-shadow:  0 3px 4px rgba(0, 0, 0, 0.8);
    width: 80%;
}

.mypage-box img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

.mypage-box p {
    margin-left: 25px;
    margin-bottom: 2px;
  }
