.cover-user-show {
    height: 120%;
    width: 100%;
    background-image: url(/assets/mypage.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index {
    height: 120%;
    width: 100%;
    background-image: url(/assets/users.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-edit {
    height: 100%;
    width: 100%;
    background-image: url(/assets/mypage_edit.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.profile {
    padding: 15px;
}

.mgl-10 {
    margin-left: 10px;
}

.mgl-20 {
    margin-left: 20px;
}

